
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  margin:0;
  padding:0;
}
body{
  font-family: "Rubik", sans-serif;
}

$ligth:#ffffff;
$gray:#f2f5f8ef;

.flex{
  display: flex;
}
.content{
  
  .navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: $gray;
    box-shadow: 0px 0px 10px 0px rgba(25, 155, 8, 0.75);
  }
  .navbar .navbar-brand{
    font-size: 1.5rem;
    font-weight: 600;
    color: green;
  }
  .titulo{
    font-size: 1.5rem;
    font-weight: 600;
    color: green;
  }
}

.sidebar{
  position: fixed;
  width: 15rem;
  height: 100vh;
  overflow-y: auto;
  background-color: $ligth;
  box-shadow: 0px 0px 10px 0px rgba(25, 155, 8, 0.75);
  .sidebarImg{
    padding: 2rem;
    img{
      width: 100%;
    }
  }
  ul{
    list-style: none;
    padding: 2rem 2rem;
    li{
      margin-bottom: 2rem;
      a{
        text-decoration: none;
        &.active{
          background-color: $gray;
        }
      }
    }
  }
  .dropdown{
    position: relative;
    border: 0;
    ul{
      border: 1px solid transparent;
      position: relative; 
      top: 0;
      background-color: transparent;
      box-shadow: none;
      display: none;
      li{
       margin-left: -2.1rem;
       width: 170px;
       height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a{
          text-decoration: none;
        }
      }
    }
    &:hover{
      ul{
        display: block;
        background-color: transparent;
      }
      a{
        color: green;
      }
    }

  }
}
.sidebar .opc:hover{
  background-color:rgba(0, 128, 0, 0.664);
}
.content{
  margin-left: 15.1rem;
  background-color:rgba(238, 231, 231, 0.586);
  .contenedor{
    margin-top: 5rem;
  }
}
.card {
  margin: 20px; 
  .card-body {
      padding: 20px;
  }
}
.card-espaciada{
  margin: 20px;
  .card-body {
      padding: 20px;
  }
}
.grow{
  transition: .5s, color .10s;
      -webkit-transition: .5s, color .10s;
      -moz-transition: .5s, color .10s;
}
.grow:hover{
  transform: scale3d(1.5, 1.5, 0.3);
      -webkit-transform: scale3d(1.5, 1.5, 0.3);
      -moz-transform: scale3d(1.5, 1.5, 0.3);
}